<div class="grid">
	<div class="col-12">
		<div class="card">
			<div id="highlights" class="py-4 px-4 lg:px-8 mx-0 my-6 lg:mx-8">
				<div class="text-right">
					<p-toggleButton title="Set Watchlist" [ngModel]="movie.onWatchlist" onLabel="Remove" offLabel="Add" onIcon="pi pi-minus" offIcon="pi pi-plus" [style]="{'width': '7.6em', 'justify-content': 'center'}" (click)="setWatchlist(movie)"></p-toggleButton><br>
					<!-- [style]="{'width': '7.6em', 'justify-content': 'center'}" -->
				</div>
				<div class="text-center">
					<h1 class="text-900 font-normal mb-2">{{movie.title}}</h1>
					<span class="text-600 text-2xl">{{movie.releasedDate}}</span>
				</div>
		
				<div class="grid mt-8 pb-2 md:pb-8">
					<div class="flex justify-content-center col-12 lg:col-6 bg-white-100 p-0 flex-order-1 lg:flex-order-0" style="border-radius:8px;">
						<img [src]="'assets/images/movie' + movie.id + '.png'" class="w-11" alt="movie image">
					</div>
		
					<div class="col-12 lg:col-6 my-auto flex flex-column ">
						<!-- lg:align-items-end text-center lg:text-right -->
						<div>
							<div class="flex align-items-center justify-content-center bg-purple-200 align-self-center lg:align-self-end" style="width:4.2rem; height:4.2rem; border-radius: 10px;">
								<i class="pi pi-fw pi-video text-5xl text-purple-700"></i>
							</div>
							<h2 class="line-height-1 text-900 text-4xl font-normal">Synopsis</h2>
							<span class="text-700 text-2xl line-height-3 ml-0 md:ml-2" style="max-width:650px;">{{movie.description}}</span>	
						</div><br>
						<div style="display: flex; ">
							<!-- flex-direction: row-reverse; -->
							<div class="flex align-items-center justify-content-center bg-yellow-200 align-self-center lg:align-self-center" style="width:4.2rem; height:4.2rem; border-radius: 10px;">
								<!--  -->
								<i class="pi pi-fw pi-star text-5xl text-yellow-700"></i>
							</div>
							<div>
								<h2 class="line-height-1 text-900 text-4xl font-normal" style="
								display: flex;
							">Rating</h2>
								<!-- justify-content: center; -->
								<p-rating [ngModel]="movie.rating" [readonly]="true" [cancel]="false" [stars]="10" styleClass="mb-2"></p-rating>	
							</div>
						</div><br>
						<div style="display: flex; ">
							<!-- flex-direction: row-reverse; -->
							<div class="flex align-items-center justify-content-center bg-blue-200 align-self-center lg:align-self-center" style="width:4.2rem; height:4.2rem; border-radius: 10px;">
								<!--  -->
								<i class="pi pi-fw pi-stopwatch text-5xl text-blue-700"></i>
							</div>
							<div>
								<h2 class="line-height-1 text-900 text-4xl font-normal" style="
								display: flex;
								justify-content: center;
							">Duration</h2>
								<span class="text-700 text-2xl line-height-3 ml-0 md:ml-2" style="max-width:650px;">{{movie.duration}}</span>		
							</div>
						</div><br>
						<div style="display: flex; ">
							<!-- flex-direction: row-reverse; -->
							<div class="flex align-items-center justify-content-center bg-green-200 align-self-center lg:align-self-center" style="width:4.2rem; height:4.2rem; border-radius: 10px;">
								<!--  -->
								<i class="pi pi-fw pi-desktop text-5xl text-green-700"></i>
							</div>
							<div>
								<h2 class="line-height-1 text-900 text-4xl font-normal" style="
								display: flex;
							">Genre</h2>
								<!-- justify-content: center; -->
								<span class="text-700 text-2xl line-height-3 ml-0 md:ml-2" style="max-width:650px;">{{movie.genre}}</span>		
							</div>
						</div>

					</div>
				</div>
		
				<div class="grid my-8 pt-2 md:pt-8">
					<div>
						<youtube-player [width]="width"
							[height]="height"
 						   videoId="tg52up16eq0" 
 						 ></youtube-player>
						<iframe width="560" height="315" src="https://www.youtube.com/watch?v=tg52up16eq0" frameborder="0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
	
		</div>
	</div>
</div>
